.ana-comm-cont {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: column nowrap;
  background-color: #bbdefb;
  height: 100%;
  padding: 15px;
  gap: 5px;
  width: 400px;
}

.ana-comm-cont > div {
  background: #ffecb3;
}

.ana-cc-top {
}

.ana-cc-top-cont {
  background: orange;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: row nowrap;
}

.ana-cc-top-cont .blob {
  border-radius: 0% 100% 68% 32% / 47% 30% 70% 53%;
  background: url(https://video-images.vice.com/_uncategorized/1567171965242-190714_GVS_ID_Shot_04_022.jpeg);
  background-size: cover;
  background-position: center;
  width: 30vmin;
  height: 30vmin;
  box-shadow: -10vmin 10vmin 0 rgba(255, 255, 255, 0.07);
}

.ana-cc-top-cont .char-header {
  background: yellow;
  padding: 10px;
  align-self: center;
}

.ana-cc-top-cont .char-header .title {
  font-family: "Titan One", cursive;
  text-transform: lowercase;
  font-size: 28px;
  margin-left: 10px;
  font-style: oblique;
  line-height: 90%;
  background: green;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ana-cc-top-cont .char-header .tag {
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  margin-left: 15px;
  font-style: oblique;
}

.ana-cc-mid {
}

.ana-cc-bot {
}
