.gsa-box {
  background: url("https://files.jcink.net/uploads/anaskins/always_grey.png")
    #151515;
  width: 300px;
  border-radius: 15px;
  border: 5px solid #111111;
  --mgcolor1: 226, 134, 28;
  --mgcolor2: 93, 163, 215;
  --mgcolor3: 218, 69, 217;
}

.gsa-comm {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.gsa-waves {
  flex-basis: 100px;
  background: url(https://files.jcink.net/uploads/anaskins/wave__2_.svg);
  width: 300px;
  height: 125px;
  background-size: 325px 125px;
  border-radius: 15px 15px 0 0;
}

.gsa-comm-inner {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.gsa-title {
  font-family: "Megrim", cursive;
  font-size: 28px;
  font-weight: bold;
  background: rgb(var(--mgcolor1));
  background: -moz-linear-gradient(
    270deg,
    rgba(var(--mgcolor1)) 0%,
    rgba(var(--mgcolor2)) 50%,
    rgba(var(--mgcolor3)) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(var(--mgcolor1)) 0%,
    rgba(var(--mgcolor2)) 50%,
    rgba(var(--mgcolor3)) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(var(--mgcolor1)) 0%,
    rgba(var(--mgcolor2)) 50%,
    rgba(var(--mgcolor3)) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

i.fi {
  font-size: 16px;
}

.gsa-icon {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 2px solid rgba(0, 0, 0, 1);
}

.gsa-comm-inner-cont {
  width: 85%;
  max-height: 400px;
  overflow: auto;
  background: #090909;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 25px;
  border-radius: 10px;
  color: #e0e0e0;
  padding: 15px;
  text-align: justify;
}

.gsa-comm-inner-cont::-webkit-scrollbar {
  width: 5px;
}

.gsa-comm-inner-cont::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

.gsa-comm-inner-cont::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

.gsa-comm-inner-cont::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.gsa-comm-inner-cont p {
  padding: 8px;
  min-width: 50%;
  max-width: 90%;
  border-radius: 10px;
  background: #191919;
}

.gsa-comm-inner-cont b {
  background: rgb(var(--mgcolor1));
  background: -moz-linear-gradient(
    270deg,
    rgba(var(--mgcolor3)) 0%,
    rgba(var(--mgcolor2)) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(var(--mgcolor3)) 0%,
    rgba(var(--mgcolor2)) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(var(--mgcolor3)) 0%,
    rgba(var(--mgcolor2)) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gsa-comm-bottom {
  background: rgb(var(--mgcolor1));
  background: -moz-linear-gradient(
    270deg,
    rgba(var(--mgcolor1)) 0%,
    rgba(var(--mgcolor2)) 50%,
    rgba(var(--mgcolor3)) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(var(--mgcolor1)) 0%,
    rgba(var(--mgcolor2)) 50%,
    rgba(var(--mgcolor3)) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(var(--mgcolor1)) 0%,
    rgba(var(--mgcolor2)) 50%,
    rgba(var(--mgcolor3)) 100%
  );
  padding: 5px;
  border-radius: 10px;
  -webkit-filter: grayscale(50%) brightness(70%);
  filter: grayscale(50%) brightness(70%);
}

.gsa-comm-tag {
  font-size: 10px;
  text-transform: lowercase;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
  width: 70%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}
